.chat-popup {
  width: 25vw;
  min-width: 350px;
  height: 50vh;
  min-height: 400px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(68, 68, 68);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.178);
}

.chat-popup-minimized {
  width: 25vw;
  min-width: 350px;
  height: 5vh;
  min-height: 40px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(68, 68, 68);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.178);
}

.chat-popup-minimized:hover {
  background-color: rgb(49, 49, 49);
}

.chat_popup_title {
  border-bottom: 1px solid rgba(145, 145, 145, 0.623);
  padding: 0px;
}

.chat_popup_title:hover {
  background-color: rgb(49, 49, 49);
  border-radius: 10px 10px 0px 0px;
}

.chat_popup_title_minimized {
  padding: 0px;
}

.chat_popup_content {
  border: 0px solid rgba(145, 145, 145, 0.342);
  padding: 15px;
}

.self_message {
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: #EFEFEF;
  background-color: rgba(145, 145, 145, 0.308);
}

.other_message {
  border-radius: 10px;
  padding: 10px;
  margin-right: 30px;
  margin-top: 20px;
  color: #EFEFEF;
  background-color: rgba(206, 206, 206, 0.308);
}

.chat_popup_input {
  border-top: 1px solid rgba(145, 145, 145, 0.308);
  padding: 5px 10px 5px 15px;
}

.active_indicator  {
  border-radius: 100%;
  background-color: rgb(87, 117, 87);
  width: 1em;
  height: 1em;
}

.active_indicator_container {
  padding: 10px;
}

.chat_name, .chat_min {
  color: #EFEFEF;
  font-size: 1em;
  /* padding-left: 10px; */
}

.chat_input_bar {
  background-color: #EFEFEF;
  border-radius: 5px;
  border: 0px solid #EFEFEF;
  padding: 5px;
  height: 80%;
}

.chat_input_form {
  background-color: transparent;
}

.chat_input_form_input {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: rgb(49, 49, 49);
}

.chat_input_button {
  color: #EFEFEF;
}

/* .submit_email_button {
  border-radius: 5px;
  font-size: 1em;
  color: #EFEFEF;
  border: 0px solid #EFEFEF;
  background-color: #7A76A9;
  margin: 10px;
  padding: 10px;
} */